.footer{
  &__top{
    padding-top: 0;
    @include media-breakpoint-up('m'){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__card{
      background-color: #8F3899;
      box-sizing: border-box;
      padding: 24px;
      margin-left: -15px;
      margin-right: -15px;
      @include media-breakpoint-up('m'){
        min-height: 511px;
        border-radius: 12px;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__title{
      color: rgba(34, 34, 34, 0.75);
      @extend .fz-18;
      font-family: $font-Averta-Semibold;
    }
    &__list2{
      >li{
        >a{
          color: #222222;
          @extend .fz-16;
        }
        &.uk-active{
          >a{
            color: #EB8732;
          }
        }
      }
    }
    &__list1{
      >li{
        color: rgba(34, 34, 34, 0.75);
        @extend .fz-16;
        background-repeat: no-repeat;
        background-position: top 3px left 0px;
        padding-left: 26px;
        &.map{
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7946 0C4.59944 0 2 2.59944 2 5.79457C2 9.75982 7.1856 15.581 7.40638 15.8269C7.61376 16.0579 7.97582 16.0575 8.18282 15.8269C8.4036 15.581 13.5892 9.75982 13.5892 5.79457C13.5891 2.59944 10.9897 0 7.7946 0ZM7.7946 8.70998C6.18704 8.70998 4.87922 7.40213 4.87922 5.79457C4.87922 4.187 6.18707 2.87919 7.7946 2.87919C9.40213 2.87919 10.7099 4.18704 10.7099 5.7946C10.7099 7.40217 9.40213 8.70998 7.7946 8.70998Z' fill='%238F3899'/%3E%3C/svg%3E%0A");
        }
        &.phone{
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5477 11.7424L13.3149 9.50953C12.5174 8.71208 11.1618 9.03109 10.8428 10.0677C10.6035 10.7855 9.8061 11.1842 9.0884 11.0247C7.49351 10.626 5.34041 8.5526 4.94169 6.87796C4.70246 6.16023 5.18092 5.36278 5.89862 5.12358C6.9353 4.8046 7.25428 3.44895 6.45684 2.6515L4.22399 0.418658C3.58603 -0.139553 2.6291 -0.139553 2.07089 0.418658L0.555745 1.9338C-0.9594 3.52869 0.715234 7.75515 4.46322 11.5031C8.21121 15.2511 12.4377 17.0055 14.0326 15.4106L15.5477 13.8955C16.1059 13.2575 16.1059 12.3006 15.5477 11.7424Z' fill='%238F3899'/%3E%3C/svg%3E%0A");
        }
        &.mail{
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33716 9.79425C8.93909 10.0596 8.47672 10.1999 8 10.1999C7.52331 10.1999 7.06094 10.0596 6.66288 9.79425L0.106531 5.42322C0.0701562 5.39897 0.0347187 5.37369 0 5.34769V12.5101C0 13.3313 0.666406 13.983 1.47291 13.983H14.5271C15.3482 13.983 16 13.3166 16 12.5101V5.34766C15.9652 5.37372 15.9297 5.39906 15.8932 5.42334L9.33716 9.79425Z' fill='%238F3899'/%3E%3Cpath d='M0.626562 4.6435L7.18291 9.01456C7.43109 9.18003 7.71553 9.26275 7.99997 9.26275C8.28444 9.26275 8.56891 9.18 8.81709 9.01456L15.3734 4.6435C15.7658 4.38209 16 3.94459 16 3.47241C16 2.6605 15.3395 2 14.5276 2H1.47241C0.660531 2.00003 0 2.66053 0 3.47319C0 3.94459 0.23425 4.38209 0.626562 4.6435Z' fill='%238F3899'/%3E%3C/svg%3E%0A");
        }
        &.web{
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99997 0C3.55358 0 0 3.60499 0 7.99997C0 12.4382 3.60505 16.0002 7.99812 16C12.4087 15.9999 15.9999 12.4271 15.9999 7.99997C15.9999 3.61011 12.4493 0 7.99997 0ZM6.21791 8.80893L5.62857 11.363C5.48088 12.0032 4.59098 12.1038 4.31486 11.4923L2.98899 8.55068L3.87433 5.95207C3.95039 5.72891 3.84886 5.48404 3.63724 5.38014L1.85993 4.50745C2.55049 3.29246 3.57724 2.31708 4.82029 1.69165V2.85593C4.82029 3.07733 4.97523 3.26858 5.19185 3.31449L7.59203 3.82327C7.91828 3.89227 8.1735 4.1357 8.25806 4.45845L8.4849 5.32445C8.55444 5.59042 8.49378 5.87748 8.32269 6.09232L6.30797 8.62231C6.26441 8.677 6.23363 8.74078 6.21791 8.80893ZM7.48066 15.0437L7.74963 14.476C7.79966 14.3703 7.85522 14.3204 7.95362 14.2608C8.05747 14.1986 8.21503 14.1263 8.47409 13.9963C8.70581 13.8803 8.9545 13.9538 9.09006 14.1319C9.09009 14.132 9.09015 14.132 9.09018 14.1321L9.65087 14.8683C8.94331 15.0375 8.20916 15.0968 7.48066 15.0437ZM12.5516 13.3999L11.9374 13.0014L11.6619 10.4484C11.6348 10.1972 11.7 9.94468 11.8454 9.73756L13.2288 7.7685C13.2843 7.68959 13.314 7.59547 13.314 7.49903V5.69045L14.2119 4.63679C14.77 5.66488 15.0625 6.81566 15.0625 7.99997C15.0624 10.1557 14.0979 12.0935 12.5516 13.3999Z' fill='%238F3899'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &__bottom{
    padding-top: 18px;
    padding-bottom: 18px;
    background: #6C2B73;
    &__txt{
      color: #FFFFFF;
      @extend .fz-14;
      font-family: $font-Roboto;
    }
  }
}
.error{
  color: red;
  @extend .fz-14;
}